<!doctype html>
<html lang="en">
  <head>
    <title>Planning</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" type="text/css">
  </head>
  <body>
    <section id="main">
        <div class="container">
            <form class="form-row justify-content-center">
                <div class="col-md-8">
                    <input type="text" class="form-control mb-2" id="task_name" placeholder="Nom de votre tâche">
                </div>
                <button class="btn btn-primary mb-2" id="add_task">Ajouter</button>
            </form>
        </div>
        <div class="container">
            <% Liste_taches.forEach(function (element) { %>
            <div class="col-md-10 offset-md-1 task">
                <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                    <div class="row">
                        <p class="m-0"><%= element.nom_taches %></p>
                        <div class="dropdown ml-auto">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" data-toggle="modal" href="#update_modal" data-id="<%= element._id %>" data-name="<%= element.nom_taches %>">Editer</a>
                                <a class="dropdown-item" href="#"> Supprimer</a>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <% })%>

            <p class="">
                <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Liste des personnes
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <ul>
                        <% liste_personnes.forEach(function (element) { %>
                        <li><%=element.nom %> -- <%= element.prenom %></li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="update_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <label for="update_task">Modifier la tâche</label>
                        <input type="text" class="form-control" value="" id="update_task">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="update_button">Sauvegarder</button>
                </div>
            </div>
        </div>
    </div>




    <h1>Ajout personnes</h1>
    <form>
        <div class="form-group">
            <label for="name">Nom</label>
            <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="first_name">Prénom</label>
            <input type="text" class="form-control" id="first_name">
        </div>   
    </form>
    <button id="add_person" class="btn btn-primary">Ajouter</button>

    <h1>Ajout des taches</h1>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="main.js"></script>
  </body>
</html>