<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Accueil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
</head>
    <body>
    <h1 class="text-uppercase text-center pb-5 pt-5">planning</h1>
    <section id="main">
        <div class="container-fluid d-flex text-center justify-content-center">
            <form action="/creer" method="post">
                <div class="row justify-content-center">
                    <div class="col-md-2">
                        <label class="my-1 mr-2" for="id_tache">Taches</label>
                        <select class="custom-select my-1 mr-sm-2" id="id_tache" name="id_tache" required>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label class="my-1 mr-2" for="id_personne">Personnes</label>
                        <select class="custom-select my-1 mr-sm-2" id="id_personne" name="id_personne" required>
                         <!-- Boucle dans la collection personnes  qui va afficher toutes les personnes avec les datas ci-dessous dans la liste déroulante <%= element._id %>"><%= element.nom %> -- <%= element.prenom %>-->
                            <% personnes.forEach(function(element){ %> 
                            <option value="<%= element._id %>"><%= element.nom %> -- <%= element.prenom %></option> 
                            <% });%>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="id_tache">Date Debut</label>
                        <input type="date" class="form-control" name="date_debut">
                    </div>
                    <div class="col-md-2">
                        <label for="id_tache">Date Fin</label>
                        <input type="date" class="form-control pr-3" name="date_fin">
                    </div>
                    <div class="col-md-2">
                        <label for="id_tache">Heure</label>
                        <input type="time" class="form-control pr-3" name="hour">
                    </div>
                    <div class="col-md-2 d-flex justify-content-center mt-4 align-items-center">
                        <button class="btn btn-primary">Ajouter une tache</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="container pt-5" id="card-main">
            <div class="row justify-content-around">
            <!-- Boucle qui va générer un card pour chaque élements tâches "complète" avec les datas ci-dessous-->
               <!-- cf => line77 se réferer à l'édition d'une tâche pour la gestion des datas dans le modal -->
                <% data.forEach(function (element) { %>
                <div class="card mb-5" style="width: 18rem;">
                    <div class="card-body text-center">
                        <% element.id_tache.forEach(function(element){%> // boucle dans la collection tâche (cf=> jointure) et affiche dans le nom de la tâche selectionnée dans le menu déroulant
                        <h5 class="card-title"><%= element.nom %></h5>
                        <%})%>
                        <% if(element.date_debut && element.date_fin) { %>// condition d'affichage la data en fonction de sa disponibilitée
                        <h6><b>Du:</b> <%= element.date_debut %> <b>Au:</b> <%= element.date_fin%></h6>
                        <% } %>
                        <% if(element.hour) { %>// condition d'affichage la data en fonction de sa disponibilitée
                        <h6><b>A :</b> <%= element.hour %> </h6>
                        <% } %>
                        <p class="card-text">
                            <% element.id_tache.forEach(function (element) { %>// boucle dans la collection tâche (cf=> jointure) et affiche dans le commentaire de la tâche selectionnée dans le menu déroulant
                        <h6><b>Commentaire</b> : <%= element.commentaire %></h6>
                            <% }) %>
                        </p>
                        <p class="card-text">
                            <% element.id_personne.forEach(function (element) { %>// boucle dans la collection personnes (cf=> jointure) et affiche dans le nom et le prénom de la personne selectionnée dans le menu déroulant
                        <h6><b>Attribuée à</b>  : <%= element.prenom %>  <%= element.nom %></h6>
                            <% }) %>
                        </p>
                    
                        <a href="#update_toDo" data-toggle="modal" class="btn btn-info bg-info" data-id="<%=element._id%>" data-debut="<%=element.date_debut%>" data-fin="<%=element.date_fin%>"data-hour="<%=element.hour%>">Editer</a>
                        <a href="/delete/<%= element._id %>" class="btn btn-primary bg-primary">X</a>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="update_toDo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Mise à jour</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/edit" method="post">
                        <div class="form-group">
                            <label for="update_task">Date de début :</label>
                            <input type="date" class="form-control" id="date_debut" name="date_debut">
                        </div>
                        <div class="form-group">
                            <label for="update_task">Date de fin :</label>
                            <input type="date" class="form-control" id="date_fin" name="date_fin">
                        </div>
                        <div class="form-group">
                            <label for="update_task">Heure :</label>
                            <input type="time" class="form-control" id="hour" name="hour">
                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="_id" value="" name="_id">
                        </div>
                        <button type="submit" class="btn btn-primary" id="update_button">Mettre à jour</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="javascripts/effectuer.js"></script>
    <script src="/tache"></script>
    <script src="/javascripts/effectuer.js"></script>
    </body>
</html>