<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Accueil - Admin</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand text-white">Administration</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a href="/taches" class="nav-link">Gestion des Taches</a>
                </li>
                <li class="nav-item">
                    <a href="/personnes" class="nav-link">Gestion Personnes</a>
                </li>
                <li class="nav-item">
                    <a href="/admin/addUser" class="nav-link">Ajouter un administrateur</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-auto pr-3">
                    <span class="text-white">Date : <%= date %></span>
                </li>
                <li class="nav-item mr-auto">
                    <span class="text-white">Utilisateur : <%= username %></span>
                    <a href="/admin/logout" class="nav-link" >Déconnexion</a>

                </li>
            </ul>
        </div>
    </nav>
    <h1 class="text-center py-5">Bienvenue dans l'administration</h1>
    <h6 class="text-center">Utilisateur : <%= username %></h6>
    <h6 class="text-center">Date du jour : <%= date %></h6>
    <section class="container py-5">
        <% if(success.info) {%>
        <!--<script>-->
            <!--var success = true;-->
        <!--</script>-->
        <%= success.info %>
        <% } %>
        <div class="row justify-content-around">




        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="../javascripts/bootstrap-notify.js"></script>
    <!--<script>-->
        <!--if(success){-->
            <!--$.notify({-->
                <!--// options-->
                <!--message: 'Connexion réussie'-->
            <!--},{-->
                <!--// settings-->
                <!--type: 'success',-->
                <!--placement: {-->
                    <!--from: "top",-->
                    <!--align: "center"-->
                <!--}-->
            <!--});-->
        <!--}-->
    <!--</script>-->
</body>
</html>